In [2]:
# Import dependencies
import pandas as pd

# Merge Files & Export

In [3]:
df1 = pd.read_csv("Resources/201912-citibike-tripdata.csv")
df2 = pd.read_csv("Resources/202001-citibike-tripdata.csv")
df3 = pd.read_csv("Resources/202002-citibike-tripdata.csv")
df4 = pd.read_csv("Resources/202006-citibike-tripdata.csv")
df5 = pd.read_csv("Resources/202007-citibike-tripdata.csv")
df6 = pd.read_csv("Resources/202008-citibike-tripdata.csv")

In [4]:
frames = [df1, df2, df3, df4, df5, df6]
citibike_info_df = pd.concat(frames).drop_duplicates()

In [5]:
citibike_info_df.to_csv("Resources/2020-citibike-all.csv", index=False)

In [6]:
# Read the data into a Pandas DataFrame
citibike_info_df = pd.read_csv("Resources/2020-citibike-all.csv")
citibike_info_df.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
9660226,1562,2020-08-31 23:59:29.7690,2020-09-01 00:25:31.9660,298,3 Ave & Schermerhorn St,40.686832,-73.979677,3423,West Drive & Prospect Park West,40.661063,-73.979453,37282,Customer,2001,1
9660227,1023,2020-08-31 23:59:32.1320,2020-09-01 00:16:35.3710,3508,St Nicholas Ave & Manhattan Ave,40.809725,-73.953149,3323,W 106 St & Central Park West,40.798186,-73.960591,35088,Customer,1993,2
9660228,600,2020-08-31 23:59:33.0920,2020-09-01 00:09:33.4670,320,Leonard St & Church St,40.717571,-74.005549,380,W 4 St & 7 Ave S,40.734011,-74.002939,36353,Subscriber,2002,1
9660229,737,2020-08-31 23:59:35.7900,2020-09-01 00:11:53.2310,3318,2 Ave & E 96 St,40.783964,-73.947167,3156,E 72 St & York Ave,40.766638,-73.953483,44935,Subscriber,1981,2
9660230,373,2020-08-31 23:59:45.3470,2020-09-01 00:05:59.1630,3423,West Drive & Prospect Park West,40.661063,-73.979453,3398,Smith St & 9 St,40.674696,-73.997858,38938,Customer,1969,0

In [7]:
# Drop rows where the trip duration is less than 90 seconds and where the start and end stations are the same
# Filter out records where users rented a bike but found that it wasn't working properly
citibike_info_df =citibike_info_df.loc[((citibike_info_df["tripduration"]>90) & (citibike_info_df["start station id"] != citibike_info_df["end station id"])),:]
citibike_info_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,602,2019-12-01 00:00:05.5640,2019-12-01 00:10:07.8180,3382,Carroll St & Smith St,40.680611,-73.994758,3304,6 Ave & 9 St,40.668127,-73.983776,41932,Subscriber,1970,1
1,1206,2019-12-01 00:00:10.9630,2019-12-01 00:20:17.8820,362,Broadway & W 37 St,40.751726,-73.987535,500,Broadway & W 51 St,40.762288,-73.983362,18869,Customer,1999,1
2,723,2019-12-01 00:00:11.8180,2019-12-01 00:12:14.8310,146,Hudson St & Reade St,40.716250,-74.009106,238,Bank St & Washington St,40.736197,-74.008592,15334,Subscriber,1997,1
3,404,2019-12-01 00:00:12.2200,2019-12-01 00:06:56.8860,3834,Irving Ave & Halsey St,40.694670,-73.906630,3827,Halsey St & Broadway,40.685650,-73.915640,41692,Customer,1995,1
4,1059,2019-12-01 00:00:14.7230,2019-12-01 00:17:54.1860,500,Broadway & W 51 St,40.762288,-73.983362,3323,W 106 St & Central Park West,40.798186,-73.960591,40156,Subscriber,1961,1

In [8]:
citibike_info_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [ ]:
# 3. Convert the 'tripduration' column to datetime datatype.
#citibike_info_df['tripduration'] = pd.to_datetime(citibike_info_df['tripduration'], unit='s')

# 4. Check the datatypes of your columns. 
#citibike_info_df.dtypes

In [9]:
citibike_info_df['starttime']=pd.to_datetime(citibike_info_df['starttime'])

In [10]:
citibike_info_df['stoptime']=pd.to_datetime(citibike_info_df['stoptime'])

In [11]:
citibike_info_df.dtypes

tripduration                        int64
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
dtype: object

In [12]:
# Drop rows where the trip duration is less than 60 seconds and where the start and end stations are the same
# Filter out records where users rented a bike but found that it wasn't working properly
citibike_info_df = citibike_info_df.loc[((citibike_info_df["tripduration"]>60))] #& (citibike_info_df["start station id"] != citibike_info_df["end station id"])),:]
citibike_info_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,602,2019-12-01 00:00:05.564,2019-12-01 00:10:07.818,3382,Carroll St & Smith St,40.680611,-73.994758,3304,6 Ave & 9 St,40.668127,-73.983776,41932,Subscriber,1970,1
1,1206,2019-12-01 00:00:10.963,2019-12-01 00:20:17.882,362,Broadway & W 37 St,40.751726,-73.987535,500,Broadway & W 51 St,40.762288,-73.983362,18869,Customer,1999,1
2,723,2019-12-01 00:00:11.818,2019-12-01 00:12:14.831,146,Hudson St & Reade St,40.716250,-74.009106,238,Bank St & Washington St,40.736197,-74.008592,15334,Subscriber,1997,1
3,404,2019-12-01 00:00:12.220,2019-12-01 00:06:56.886,3834,Irving Ave & Halsey St,40.694670,-73.906630,3827,Halsey St & Broadway,40.685650,-73.915640,41692,Customer,1995,1
4,1059,2019-12-01 00:00:14.723,2019-12-01 00:17:54.186,500,Broadway & W 51 St,40.762288,-73.983362,3323,W 106 St & Central Park West,40.798186,-73.960591,40156,Subscriber,1961,1

In [13]:
# Convert trip duration column from seconds to minutes
citibike_info_df["tripduration"] = [trip/60 for trip in citibike_info_df["tripduration"]]

# Filter out trips over 24 hours long
citibike_info_df = citibike_info_df.loc[citibike_info_df["tripduration"] < 1440, :]

# Rename trip duration column
citibike_info_df.rename(columns={"tripduration":"tripduration (min)"})

citibike_info_df.head(20)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,10.033333,2019-12-01 00:00:05.564,2019-12-01 00:10:07.818,3382,Carroll St & Smith St,40.680611,-73.994758,3304,6 Ave & 9 St,40.668127,-73.983776,41932,Subscriber,1970,1
1,20.100000,2019-12-01 00:00:10.963,2019-12-01 00:20:17.882,362,Broadway & W 37 St,40.751726,-73.987535,500,Broadway & W 51 St,40.762288,-73.983362,18869,Customer,1999,1
2,12.050000,2019-12-01 00:00:11.818,2019-12-01 00:12:14.831,146,Hudson St & Reade St,40.716250,-74.009106,238,Bank St & Washington St,40.736197,-74.008592,15334,Subscriber,1997,1
3,6.733333,2019-12-01 00:00:12.220,2019-12-01 00:06:56.886,3834,Irving Ave & Halsey St,40.694670,-73.906630,3827,Halsey St & Broadway,40.685650,-73.915640,41692,Customer,1995,1
4,17.650000,2019-12-01 00:00:14.723,2019-12-01 00:17:54.186,500,Broadway & W 51 St,40.762288,-73.983362,3323,W 106 St & Central Park West,40.798186,-73.960591,40156,Subscriber,1961,1
6,10.400000,2019-12-01 00:00:22.041,2019-12-01 00:10:46.427,469,Broadway & W 53 St,40.763441,-73.982681,526,E 33 St & 5 Ave,40.747659,-73.984907,24934,Subscriber,1983,1
7,9.633333,2019-12-01 00:00:33.212,2019-12-01 00:10:11.502,3382,Carroll St & Smith St,40.680611,-73.994758,3304,6 Ave & 9 St,40.668127,-73.983776,38966,Subscriber,1980,1
8,7.183333,2019-12-01 00:00:35.840,2019-12-01 00:07:47.347,448,W 37 St & 10 Ave,40.756604,-73.997901,72,W 52 St & 11 Ave,40.767272,-73.993929,38780,Subscriber,1986,1
9,20.383333,2019-12-01 00:00:39.793,2019-12-01 00:21:03.668,465,Broadway & W 41 St,40.755136,-73.986580,359,E 47 St & Park Ave,40.755103,-73.974987,16810,Customer,1982,1
10,15.883333,2019-12-01 00:00:44.912,2019-12-01 00:16:38.839,465,Broadway & W 41 St,40.755136,-73.986580,440,E 45 St & 3 Ave,40.752554,-73.972826,29958,Subscriber,1991,1
11,12.216667,2019-12-01 00:00:53.055,2019-12-01 00:13:07.036,3534,Frederick Douglass Blvd & W 117 St,40.805159,-73.954692,3307,West End Ave & W 94 St,40.794165,-73.974124,16087,Subscriber,1978,2
12,13.183333,2019-12-01 00:00:53.649,2019-12-01 00:14:04.781,446,W 24 St & 7 Ave,40.744876,-73.995299,518,E 39 St & 2 Ave,40.747804,-73.973442,38960,Subscriber,1982,1
13,17.616667,2019-12-01 00:00:54.212,2019-12-01 00:18:31.995,500,Broadway & W 51 St,40.762288,-73.983362,466,W 25 St & 6 Ave,40.743954,-73.991449,38841,Subscriber,1993,1
14,4.900000,2019-12-01 00:00:59.311,2019-12-01 00:05:54.221,223,W 13 St & 7 Ave,40.737815,-73.999947,285,Broadway & E 14 St,40.734546,-73.990741,40109,Subscriber,1966,2
15,6.300000,2019-12-01 00:01:23.241,2019-12-01 00:07:41.299,438,St Marks Pl & 1 Ave,40.727791,-73.985649,401,Allen St & Rivington St,40.720196,-73.989978,16736,Subscriber,1991,1
16,6.166667,2019-12-01 00:01:31.143,2019-12-01 00:07:41.372,438,St Marks Pl & 1 Ave,40.727791,-73.985649,401,Allen St & Rivington St,40.720196,-73.989978,17278,Subscriber,1993,2
17,6.900000,2019-12-01 00:01:38.221,2019-12-01 00:08:32.254,505,6 Ave & W 33 St,40.749013,-73.988484,3712,W 35 St & Dyer Ave,40.754692,-73.997402,33244,Subscriber,1987,1
18,8.033333,2019-12-01 00:01:38.444,2019-12-01 00:09:41.148,458,11 Ave & W 27 St,40.751396,-74.005226,247,Perry St & Bleecker St,40.735354,-74.004831,32314,Subscriber,1994,1
19,26.166667,2019-12-01 00:01:57.054,2019-12-01 00:28:07.741,309,Murray St & West St,40.714979,-74.013012,514,12 Ave & W 40 St,40.760875,-74.002777,41997,Customer,1973,1
20,21.616667,2019-12-01 00:02:11.219,2019-12-01 00:23:49.076,302,Avenue D & E 3 St,40.720828,-73.977932,388,W 26 St & 10 Ave,40.749718,-74.002950,40842,Subscriber,1985,2

In [14]:
# Rename values in gender column with strings
gender = {0:"Unknown", 1:"Male", 2:"Female"}
citibike_info_df.gender = [gender[item] for item in citibike_info_df.gender]
citibike_info_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,10.033333,2019-12-01 00:00:05.564,2019-12-01 00:10:07.818,3382,Carroll St & Smith St,40.680611,-73.994758,3304,6 Ave & 9 St,40.668127,-73.983776,41932,Subscriber,1970,Male
1,20.100000,2019-12-01 00:00:10.963,2019-12-01 00:20:17.882,362,Broadway & W 37 St,40.751726,-73.987535,500,Broadway & W 51 St,40.762288,-73.983362,18869,Customer,1999,Male
2,12.050000,2019-12-01 00:00:11.818,2019-12-01 00:12:14.831,146,Hudson St & Reade St,40.716250,-74.009106,238,Bank St & Washington St,40.736197,-74.008592,15334,Subscriber,1997,Male
3,6.733333,2019-12-01 00:00:12.220,2019-12-01 00:06:56.886,3834,Irving Ave & Halsey St,40.694670,-73.906630,3827,Halsey St & Broadway,40.685650,-73.915640,41692,Customer,1995,Male
4,17.650000,2019-12-01 00:00:14.723,2019-12-01 00:17:54.186,500,Broadway & W 51 St,40.762288,-73.983362,3323,W 106 St & Central Park West,40.798186,-73.960591,40156,Subscriber,1961,Male

In [15]:
# Add ride id column to uniquely identify each ride
citibike_info_df["rideid"] = citibike_info_df["start station id"].map(str) + "_" +citibike_info_df["end station id"].map(str)
citibike_info_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,rideid
0,10.033333,2019-12-01 00:00:05.564,2019-12-01 00:10:07.818,3382,Carroll St & Smith St,40.680611,-73.994758,3304,6 Ave & 9 St,40.668127,-73.983776,41932,Subscriber,1970,Male,3382_3304
1,20.100000,2019-12-01 00:00:10.963,2019-12-01 00:20:17.882,362,Broadway & W 37 St,40.751726,-73.987535,500,Broadway & W 51 St,40.762288,-73.983362,18869,Customer,1999,Male,362_500
2,12.050000,2019-12-01 00:00:11.818,2019-12-01 00:12:14.831,146,Hudson St & Reade St,40.716250,-74.009106,238,Bank St & Washington St,40.736197,-74.008592,15334,Subscriber,1997,Male,146_238
3,6.733333,2019-12-01 00:00:12.220,2019-12-01 00:06:56.886,3834,Irving Ave & Halsey St,40.694670,-73.906630,3827,Halsey St & Broadway,40.685650,-73.915640,41692,Customer,1995,Male,3834_3827
4,17.650000,2019-12-01 00:00:14.723,2019-12-01 00:17:54.186,500,Broadway & W 51 St,40.762288,-73.983362,3323,W 106 St & Central Park West,40.798186,-73.960591,40156,Subscriber,1961,Male,500_3323

Calculate the distance of each ride

In [16]:
from math import sin, cos, sqrt, atan2, radians

# Convert degrees to radians
lat1 = [radians(lat) for lat in citibike_info_df["start station latitude"]]
lon1 = [radians(lon) for lon in citibike_info_df["start station longitude"]]
lat2 = [radians(lat) for lat in citibike_info_df["end station latitude"]]
lon2 = [radians(lon) for lon in citibike_info_df["end station longitude"]]

# Convert lists into series
lat1 = pd.Series(lat1)
lon1 = pd.Series(lon1)
lat2 = pd.Series(lat2)
lon2 = pd.Series(lon2)

# Calculate difference between each set of latitude and longitude
dlat = lat2 - lat1
dlon = lon2 - lon1

In [17]:
# Approximate radius of Earth in km
R = 6373.0

# Empty list to store trip distances
distance = []

for i in range(0, len(lat1)):
    
    a = sin(dlat[i] / 2)**2 + cos(lat1[i]) * cos(lat2[i]) * sin(dlon[i] / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    # Get distance and convert km to miles
    miles = (R * c) * .6214
    
    # Append miles travel to 'distance' list
    distance.append(miles)

In [18]:
# Add trip distance as new column to data frame
citibike_info_df["tripdistance (mi)"] = distance
citibike_info_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,rideid,tripdistance (mi)
0,10.033333,2019-12-01 00:00:05.564,2019-12-01 00:10:07.818,3382,Carroll St & Smith St,40.680611,-73.994758,3304,6 Ave & 9 St,40.668127,-73.983776,41932,Subscriber,1970,Male,3382_3304,1.037282
1,20.100000,2019-12-01 00:00:10.963,2019-12-01 00:20:17.882,362,Broadway & W 37 St,40.751726,-73.987535,500,Broadway & W 51 St,40.762288,-73.983362,18869,Customer,1999,Male,362_500,0.762021
2,12.050000,2019-12-01 00:00:11.818,2019-12-01 00:12:14.831,146,Hudson St & Reade St,40.716250,-74.009106,238,Bank St & Washington St,40.736197,-74.008592,15334,Subscriber,1997,Male,146_238,1.378938
3,6.733333,2019-12-01 00:00:12.220,2019-12-01 00:06:56.886,3834,Irving Ave & Halsey St,40.694670,-73.906630,3827,Halsey St & Broadway,40.685650,-73.915640,41692,Customer,1995,Male,3834_3827,0.782087
4,17.650000,2019-12-01 00:00:14.723,2019-12-01 00:17:54.186,500,Broadway & W 51 St,40.762288,-73.983362,3323,W 106 St & Central Park West,40.798186,-73.960591,40156,Subscriber,1961,Male,500_3323,2.752543

In [19]:
# Calculate age of riders
ages = []

for i in citibike_info_df["birth year"]:
    age = 2023 - i
    ages.append(age)

In [20]:
# Append new Age column
citibike_info_df["Age"] = ages
citibike_info_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,rideid,tripdistance (mi),Age
0,10.033333,2019-12-01 00:00:05.564,2019-12-01 00:10:07.818,3382,Carroll St & Smith St,40.680611,-73.994758,3304,6 Ave & 9 St,40.668127,-73.983776,41932,Subscriber,1970,Male,3382_3304,1.037282,53
1,20.100000,2019-12-01 00:00:10.963,2019-12-01 00:20:17.882,362,Broadway & W 37 St,40.751726,-73.987535,500,Broadway & W 51 St,40.762288,-73.983362,18869,Customer,1999,Male,362_500,0.762021,24
2,12.050000,2019-12-01 00:00:11.818,2019-12-01 00:12:14.831,146,Hudson St & Reade St,40.716250,-74.009106,238,Bank St & Washington St,40.736197,-74.008592,15334,Subscriber,1997,Male,146_238,1.378938,26
3,6.733333,2019-12-01 00:00:12.220,2019-12-01 00:06:56.886,3834,Irving Ave & Halsey St,40.694670,-73.906630,3827,Halsey St & Broadway,40.685650,-73.915640,41692,Customer,1995,Male,3834_3827,0.782087,28
4,17.650000,2019-12-01 00:00:14.723,2019-12-01 00:17:54.186,500,Broadway & W 51 St,40.762288,-73.983362,3323,W 106 St & Central Park West,40.798186,-73.960591,40156,Subscriber,1961,Male,500_3323,2.752543,62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9660226,26.033333,2020-08-31 23:59:29.769,2020-09-01 00:25:31.966,298,3 Ave & Schermerhorn St,40.686832,-73.979677,3423,West Drive & Prospect Park West,40.661063,-73.979453,37282,Customer,2001,Male,298_3423,1.781126,22
9660227,17.050000,2020-08-31 23:59:32.132,2020-09-01 00:16:35.371,3508,St Nicholas Ave & Manhattan Ave,40.809725,-73.953149,3323,W 106 St & Central Park West,40.798186,-73.960591,35088,Customer,1993,Female,3508_3323,0.887544,30
9660228,10.000000,2020-08-31 23:59:33.092,2020-09-01 00:09:33.467,320,Leonard St & Church St,40.717571,-74.005549,380,W 4 St & 7 Ave S,40.734011,-74.002939,36353,Subscriber,2002,Male,320_380,1.144529,21
9660229,12.283333,2020-08-31 23:59:35.790,2020-09-01 00:11:53.231,3318,2 Ave & E 96 St,40.783964,-73.947167,3156,E 72 St & York Ave,40.766638,-73.953483,44935,Subscriber,1981,Female,3318_3156,1.242295,42
9660230,6.216667,2020-08-31 23:59:45.347,2020-09-01 00:05:59.163,3423,West Drive & Prospect Park West,40.661063,-73.979453,3398,Smith St & 9 St,40.674696,-73.997858,38938,Customer,1969,Unknown,3423_3398,1.348656,54

In [21]:
# Delete all rows where user age is over 90
citibike_info_df = citibike_info_df.loc[citibike_info_df["Age"] < 90]

In [1]:
# Divide users in age bins
bins = [0, 8, 17, 29, 40, 50, 65, 90]
labels = ["0-8","9-17", "18-29", "30-40", "41-50", "51-65", "65-90"]

citibike_info_df["Age Group"] = pd.cut(citibike_info_df["Age"], bins, labels=labels)

In [23]:
citibike_info_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,rideid,tripdistance (mi),Age,Age Group
0,10.033333,2019-12-01 00:00:05.564,2019-12-01 00:10:07.818,3382,Carroll St & Smith St,40.680611,-73.994758,3304,6 Ave & 9 St,40.668127,-73.983776,41932,Subscriber,1970,Male,3382_3304,1.037282,53,51-65
1,20.100000,2019-12-01 00:00:10.963,2019-12-01 00:20:17.882,362,Broadway & W 37 St,40.751726,-73.987535,500,Broadway & W 51 St,40.762288,-73.983362,18869,Customer,1999,Male,362_500,0.762021,24,18-29
2,12.050000,2019-12-01 00:00:11.818,2019-12-01 00:12:14.831,146,Hudson St & Reade St,40.716250,-74.009106,238,Bank St & Washington St,40.736197,-74.008592,15334,Subscriber,1997,Male,146_238,1.378938,26,18-29
3,6.733333,2019-12-01 00:00:12.220,2019-12-01 00:06:56.886,3834,Irving Ave & Halsey St,40.694670,-73.906630,3827,Halsey St & Broadway,40.685650,-73.915640,41692,Customer,1995,Male,3834_3827,0.782087,28,18-29
4,17.650000,2019-12-01 00:00:14.723,2019-12-01 00:17:54.186,500,Broadway & W 51 St,40.762288,-73.983362,3323,W 106 St & Central Park West,40.798186,-73.960591,40156,Subscriber,1961,Male,500_3323,2.752543,62,51-65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9660226,26.033333,2020-08-31 23:59:29.769,2020-09-01 00:25:31.966,298,3 Ave & Schermerhorn St,40.686832,-73.979677,3423,West Drive & Prospect Park West,40.661063,-73.979453,37282,Customer,2001,Male,298_3423,1.781126,22,18-29
9660227,17.050000,2020-08-31 23:59:32.132,2020-09-01 00:16:35.371,3508,St Nicholas Ave & Manhattan Ave,40.809725,-73.953149,3323,W 106 St & Central Park West,40.798186,-73.960591,35088,Customer,1993,Female,3508_3323,0.887544,30,30-40
9660228,10.000000,2020-08-31 23:59:33.092,2020-09-01 00:09:33.467,320,Leonard St & Church St,40.717571,-74.005549,380,W 4 St & 7 Ave S,40.734011,-74.002939,36353,Subscriber,2002,Male,320_380,1.144529,21,18-29
9660229,12.283333,2020-08-31 23:59:35.790,2020-09-01 00:11:53.231,3318,2 Ave & E 96 St,40.783964,-73.947167,3156,E 72 St & York Ave,40.766638,-73.953483,44935,Subscriber,1981,Female,3318_3156,1.242295,42,41-50
9660230,6.216667,2020-08-31 23:59:45.347,2020-09-01 00:05:59.163,3423,West Drive & Prospect Park West,40.661063,-73.979453,3398,Smith St & 9 St,40.674696,-73.997858,38938,Customer,1969,Unknown,3423_3398,1.348656,54,51-65

In [29]:
citibike_info_df.to_csv("resources/202012-citibike-tripdata_updated1.csv", index=False)